@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$orange-120: rgba(232,121,40,1);
$orange-100: rgba(255,139,55,1);
$orange-80: rgba(255,172,112,1);
$orange-5: rgba(255,243,235,1);

$green-100: rgba(71,216,103,1);
$green-5: rgba(230,250,234,1);

$red-100: rgba(236,98,89,1);
$red-5: rgba(253,238,237,1);

$black-100: rgba(28,28,33,1);
$black-40: rgba(208,208,216,1);
$black-5: rgba(245,245,247,1);

$white-100: rgba(255,255,255,1);

@import './global.scss';
@import './components/universal/button.scss';

@import './components/startgame/startgame.scss';
@import './components/game/game.scss';
@import './components/gameover/gameover.scss';
