#millionaire {
    .game {
        .menu-icon {
            display: flex;
            justify-content: flex-end;
            padding: 16px;

            .icon {
                cursor: pointer;
            }
        }

        .menu {
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;

            @media(min-width: 1440px) {
                justify-content: center;
                padding: 0px 40px;
                background-color: $white-100;
            }

            .prize {
                padding-bottom: 8px;
            }

            .prize-svg {
                @media(min-width: 1024px) {
                    width: 280px;
                    height: 40px;
                }
            }

            .close {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding: 16px 16px 30px 16px;
            }

            .icon {
                cursor: pointer;
            }

            .main {
                position: relative;
                display: flex;
            }

            .inactive {
                fill: $white-100;
                stroke: #D0D0D8;
            }

            .selected {
                fill: $white-100;
                stroke: $orange-100;
            }

            .disabled {
                color: $black-40;
                stroke: #D0D0D8;
            }

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @media(min-width: 1440px) {
                    font-size: 20px;
                }
            }

            .left-vector {
                display: flex;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                left: -40px;
            }

            .right-vector {
                display: flex;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                right: -40px;
            }
        }
    }
}